@model IEnumerable<Noel_Tablas.Models.Proyectos>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Clientes.NombreCliente)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NombreProyecto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DescripcionProyecto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FechaInicio)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Clientes.NombreCliente)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NombreProyecto)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DescripcionProyecto)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FechaInicio)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ProyectosID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ProyectosID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ProyectosID })
        </td>
    </tr>
}

</table>
